<h1>À propos</h1>
<section>
  <div>
    <h2>Pourquoi "Anguleux" ?</h2>
    <h3>Qui suis-je ?</h3>
    <p>
      Je m'appelle Karen Pointon, j'ai {{ age }} ans. <br />
      Au cours de l'année 2022, après 13 ans de bons et loyaux services en tant
      que technicienne en laboratoire d'analyses médicales, j'ai décidé de me
      reconvertir dans le développement web, une passion adolescente.
    </p>
    <h3>Et du coup, pourquoi Anguleux ?</h3>
    <p>
      Une fois ma formation OpenClassrooms validée, j'ai réalisé qu'il me
      manquait des notions importantes pour rendre mon CV attractif pour les
      employeurs.
      <br />J'ai donc décidé de me former au framework Angular, en suivant
      notamment la formation de la
      <a
        href="https://ninja-squad.fr/formations/formation-angular"
        target="_blank"
        title="Site de Ninja Squad"
        ><span class="important">ninja-squad</span></a
      >. <br />À l'issue de cette formation, j'ai décidé de la mettre en
      application et de me former aux tests unitaires en créant un site de
      mini-jeux. <br />C'est ainsi qu'Anguleux est né !
    </p>
  </div>
  <div>
    <h2>Me contacter</h2>
    <p>
      Pour prendre contact avec moi mais également connaître mes autres projets,
      le plus simple est de consulter les rubriques
      <a
        href="https://karen-pointon.fr/#contact"
        target="_blank"
        title="contact"
        ><span class="important">"Me contacter"</span></a
      >
      et
      <a
        href="https://karen-pointon.fr/#portfolio"
        target="_blank"
        title="projets"
        ><span class="important">"Mes réalisations"</span></a
      >
      sur mon
      <a href="https://karen-pointon.fr" target="_blank" title="portfolio"
        ><span class="important">portfolio</span></a
      >
      !
    </p>
  </div>
</section>
