<h1>Nombre Mystère</h1>
<section id="MysteryNumber">
  <div class="rules">
    <h2>Préambule</h2>
    <p>
      Dans ce petit jeu, un nombre aléatoire entre 0 et 100 a été sélectionné
      par l'ordinateur.
      <br />Le but du jeu ? Trouver ce nombre le plus rapidement possible !
    </p>
    <div class="nm-box">
      <span (click)="showIntro()" id="intro">Etape 1 : Introduction</span>
      <span (click)="showBet()" id="bet">Etape 2 : Je prends les paris !</span>
      <span (click)="showGame()" id="game">Etape 3 : Jouons !</span>
    </div>
    <app-nm-intro *ngIf="intro"></app-nm-intro>
    <app-nm-bet *ngIf="bet"></app-nm-bet>
    <app-nm-game *ngIf="game"></app-nm-game>
  </div>
</section>
