//* Charte graphique
$one: #202232;
$two: #adacb5;
$three: #ece7f1;
$four: #eae8ff;
$five: #d1c0ff;
$six: #b798ff;
$seven: #9770fa;
$height: #363d46;

//* Style global
$body: $one;
$text: $three;
$h1: $seven;
$h2: $six;
$h3: $five;
$important: $seven;
