<div class="nm-box-content">
  <h2>Activer le mode "Pari"</h2>
  <div *ngIf="betCheckVisible">
    <p>
      <span [innerHTML]="betOrder"></span>
      <input
        type="checkbox"
        id="harderPleaseCheckbox"
        [checked]="harderPlease"
        (change)="harderPlease = !harderPlease"
      />
      <span [innerHTML]="betComment"></span>
    </p>
  </div>
  <div *ngIf="harderPlease">
    <p *ngIf="betFormIsVisible">
      Choisissez un nombre entre 1 et 99 :
      <input
        type="number"
        [formControl]="tries"
        min="1"
        max="99"
        id="betInput"
        (keyup.enter)="betFunction()"
      />
      <button type="button" (click)="betFunction()" id="betButton">
        Parier
      </button>
    </p>
    <p [innerHTML]="tryText"></p>
    <span *ngIf="changeBetIsVisible" class="resetButton">
      <button (click)="changeBet()">Modifier ou annuler mon pari</button>
    </span>
  </div>
  <div *ngIf="resetGameIsVisible" class="resetButton">
    <p [innerHTML]="errorText"></p>
    <button (click)="resetFunction()" [innerHTML]="resetButtonText"></button>
  </div>
</div>
