.nm-box-content {
  #harderPleaseCheckbox {
    position: relative;
    top: 1px;
  }
  .resetButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    button {
      width: 250px;
      -ms-flex-item-align: center;
      align-self: center;
    }
  }
}
