@import "../utils/variables";

button,
input {
  border: 1px solid $important;
  text-align: center;
  background-color: $two;
  color: $one;
  cursor: pointer;
}

.disableClass {
  color: $two;
  background-color: $three;
  cursor: default;
}
