<h1>Bienvenue sur Anguleux !</h1>
<div class="home">
  <div class="home-content">
    <h2 class="home-content-title">Petite explication...</h2>
    <p class="home-content-text">
      ...Le nom <span class="important">"Anguleux"</span> est la contraction
      entre le contenu du site (des petits jeux) et la technologie utilisée pour
      le créer (le framework <span class="important">Angular</span>). <br />Pour
      plus d'informations, n'hésitez pas à aller jeter un petit coup d'œil sur
      la page <a routerLink="/about" class="important">À propos</a>.
      <br />J'espère que cette petite application web vous plaira mais surtout :
      <span class="important">amusez-vous bien !</span>
    </p>
  </div>
  <app-game-list></app-game-list>
</div>
