@import "../../assets/style/utils/variables";
@import "../../assets/style/utils/mixins";

.home {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  &-content {
    &-text {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
