@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/mixins";

.step {
  cursor: pointer;
}
.nm-box-content {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
    li {
      margin-left: -20px;
    }
  }
}
