<!-- TODO: ajouter la class step aux deux spans pour mettre le pointer. -->
<div class="nm-box-content">
  <h2>Etape 1 : Introduction</h2>
  <p>Il existe deux options de jeu possibles :</p>
  <ul>
    <li>
      L'option basique : Nombre de tentatives illimité. Pour y accéder il suffit
      de passer directement à
      <span class="important" (click)="showStepThree()">l'Etape 3</span>.
    </li>
    <li>
      L'option "nombre de tentatives limitées" : vous pouvez parier sur le
      nombre de tentatives dont vous aurez besoin pour découvrir le nombre
      mystère...
      <br />
      Prêt(e) à prendre le risque ? Oui ? Alors passez à
      <span class="important" (click)="showStepTwo()">l'Etape 2</span>
      !
    </li>
  </ul>
</div>
