@import "../../assets/style/utils/variables";
@import "../../assets/style/utils/mixins";

.games {
  margin-top: 15vh;
  .cube-wrap {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    .cube {
      margin: auto;
      position: relative;
      height: 250px;
      width: 250px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      //*ROTATION DU CUBE :
      -webkit-transform: rotateX(-20deg) rotateY(45deg) rotateZ(-10deg);
      transform: rotateX(-20deg) rotateY(50deg) rotateZ(-10deg);
      div {
        position: absolute;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 250px;
        text-align: center;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        border: 1px solid $height;
        color: $height;
        font-weight: bold;
      }
      .front {
        -webkit-transform: translateZ(150px);
        transform: translateZ(150px);
        background-color: $seven;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        .link {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .back {
        -webkit-transform: translateZ(-100px) rotateY(180deg);
        transform: translateZ(-100px) rotateY(180deg);
        background-color: $height;
      }
      .top {
        -webkit-transform: rotateX(-270deg) translateY(-100px);
        transform: rotateX(-270deg) translateY(-100px);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        background-color: $five;
        .games-title {
          line-height: normal;
          margin: auto;
          height: 250px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 2rem;
        }
      }
      .bottom {
        -webkit-transform: rotateX(270deg) translateY(100px);
        transform: rotateX(270deg) translateY(100px);
        -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        transform-origin: bottom center;
        background-color: $height;
      }
      .left {
        -webkit-transform: rotateY(270deg) translateX(-100px);
        transform: rotateY(270deg) translateX(-100px);
        -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
        transform-origin: center left;
        background-color: $six;
        .games-description {
          line-height: 2rem;
          margin: auto;
          padding-left: 5px;
          padding-right: 5px;
          height: 250px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
      }
      .right {
        -webkit-transform: rotateY(-270deg) translateX(100px);
        transform: rotateY(-270deg) translateX(100px);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        background-color: $height;
      }
    }
  }
}
